.flex_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex_container div{
    padding: 2rem;
    text-align: center;
    display: inline-block;
}